@charset "utf-8";
header{position: relative;}
header.main{height:1200px;}
@media screen and (min-width:923px){ /*pc*/

	.topMenu{
		width: 1200px;position:absolute;
		left:50%;transform:translateX(-50%);top:20px;
	}
}
.headerWrap{width: 1200px;height: 100px;margin:0 auto;}
.headerWrap .topMenu{height: 80px;}
.headerWrap .topMenu h1{float: left;display: block;line-height:45px;padding:15px 0 0 10px;}
.headerWrap .topMenu a{color:#fff;}
.headerWrap .topMenu ul{float: right;padding-top: 15px;}
.headerWrap .topMenu ul li{float: left;display: block;margin-right:120px;
line-height: 45px;text-align: center;}
.headerWrap .topMenu ul li.mainmenu a:hover{color:rgba(255,255,255,0.8);}
.headerWrap .topMenu ul li.language{width: 50px;height: 50px;border: 1px solid magenta;margin-right:10px;transition:0.3s}
.headerWrap .topMenu ul li.language:hover{background:magenta;}
.headerWrap .topMenu ul li.language a{color:magenta;}
.headerWrap .topMenu ul li.language:hover a{color:#fff;}
