@charset "utf-8";
  


.hdTop{width: 1200px;height: 135px;background: pink;margin: 0 auto;}
.hdTop h1{height: 135px;display: block;
	float: left;color:#232440;padding-top: 40px;}
.hdTop .nav{float:right;}
.hdTop .nav>li{float: left;padding-left: 50px;color:#232440;}
.hdTop .nav>li>a{display: block;padding-top: 55px;text-align: center;}


.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
     box-shadow:none; 
     border: 0 none; 
     margin-bottom: 0;
  	 }
.bx-wrapper .bx-pager{bottom:30px;}

.sliderWrap{width: 1440px;height: 785px;
	margin: 0 auto;}
/*.sliderWrap .slider{position: relative;}*/
.slider .view .sTxt{position:absolute;
	top: 225px;margin-left: 125px;}
.slider .view .sTxt h2{font-size: 50px;color: #232440;}
.slider .view .sTxt a{display: block;width: 290px;height: 80px;
	background: #444daa;text-align: center;color: white;
	margin-top:40px;padding-top: 30px;}

.conI{width: 1200px;height: 735px;margin: 0 auto;
	background: #ddd;}
.conI h2{width: 1200px;display: block;text-align: center;
	padding-top: 150px;font-size: 40px;color: #232440;
	margin-bottom: 100px;}
.conI li{width: 380px;height: 430px;float: left;display: block;
	box-shadow: 0 0 10px #ddd;margin-bottom:145px;
	margin-right:30px;overflow: hidden;text-align: center;}
.conI li:last-child{margin-right: 0;}
.conI h3{margin-bottom: 20px;font-size: 30px;color:#232440;}
.conI p{color: #232440;}

.conII{width: 1200px;height: 810px;margin: 0 auto;background: pink;}
.conII .txtBox_I{text-align: center;color:#232440;margin-bottom: 80px;}
.conII .txtBox_I h2{font-size: 40px;margin-bottom: 30px;}
.conII li{width: 380px;height: 460px;float: left;margin-bottom: 150px;
	box-shadow: 0 0 10px #ddd;overflow: hidden;margin-right: 30px;}
.conII li:last-child{margin-right: 0;}
.conII .txtBox_II{padding-left:25px;padding-top: 40px;color:#232440}
.conII .txtBox_II h3{font-size: 20px;margin-bottom: 35px;}
.conII .txtBox_II p{margin-bottom: 25px;position: relative;}
.conII .txtBox_II p>span{position: absolute;right: 30px;
	color: orange;font-weight: bold;}
.conII .txtBox_II a{color: blue;}


.conBox_I{width: 1200px;height: 435px;margin:150px auto;background: #eee;}
.conBox_I li{float: left;}
.conBox_I .conBoxTxt{padding-left: 70px;padding-top: 80px;
	color:#232440;}
.conBox_I .conBoxTxt>h2{margin-bottom:65px;font-size: 28px;}
.conBox_I .conBox_Itxt{border-left: 5px solid #404bb5;
	text-indent: 20px;margin-bottom: 220px;}


.conBox_II{width: 1200px;height: 435px;margin:150px auto;background: pink;}
.conBox_II li{float: left;}
.conBox_II .conBox_II_Txt{padding-right: 70px;padding-top: 80px;
	color:#232440;}
.conBox_II .conBox_II_Txt>h2{font-size: 28px;margin-bottom: 65px;}
.conBox_II .conBox_II_txt{border-left: 5px solid  #404bb5;
	text-indent: 20px;margin-bottom: 220px;}
.conBox_II>ul>li>a>img{margin-right: 0;}  /*이미지가 오른쪽에 안붙음*/

.conBox_III{width: 1200px;height: 545px;margin:150px auto;background: #ddd;}
.conBox_III li{float: left;}
/*.conBox_III li:last-child{margin-right: 0;}*/
.conBox_III .conboxIII_txt{padding-left: 70px;padding-top: 80px;
	color:#232440;}
.conBox_III .conboxIII_txt h2{font-size: 45px;margin-bottom: 50px;}
.conBox_III .conboxIII_txt p{margin-bottom: 50px;font-size: 18px}
.conBox_III .conboxIII_txt a{display: block;width: 290px;height: 70px;
	background: #444daa;color:white;text-align: center;padding-top: 25px;
	margin-bottom:150px;}


.conBox_IV{width: 1200px;height: 550px;margin: 150px auto;
	background: pink;}
.conBox_IV>ul>h2{text-align: center;font-size: 45px;
	color:#232440;margin-bottom: 85px;}


.conBox_IV>ul>li{display: block;width:575px;height: 185px;
	float: left;/*margin-right:25px; */ color:#232440;
	box-shadow: 0 0 10px #ddd;margin-bottom: 35px;
	padding-top: 30px;padding-left: 40px;}

	/*박스간격이 안벌어짐*/
.conBox_IV>ul>li:nth-child(2){margin-right:0;}    
.conBox_IV>ul>li:nth-child(4){margin-right: 0;}


.conBox_IV li>h3{margin-bottom: 40px;}
.conBox_IV p{margin-bottom: 200px;}


.footer{width: 1440px;height: 250px;margin: 0 auto;
	_background: #eee;}
.footer li{float: left;margin-left: 20px;
	padding-top: 50px;}
.footer li:first-child{margin-left: 120px;}
.footer li:last-child{margin-right: 120px;}
.footer .snsIcon{float: right;;}

.footer .footerWrap{display: block;width: 1440px;
	border-top: 3px solid #ddd;}