@charset "utf-8";
/*reset*/
		*{margin: 0;padding: 0;box-sizing: border-box}
		a:link,a:visited{color: #000;text-decoration: none;}
		li{list-style: none;}
		.clearfix:after{content:"";display: block;clear: both;}  /*float해제역활*/

/*header*/
#hdI{background-color: #0044af;}

.utilWrap{width: 1200px;margin: 0 auto;}

.utilWrap .utilmenu_I{float: left;}
.utilWrap .utilmenu_I li{width: 120px;margin-right: 2px;
	float: left;
	}
.utilWrap .utilmenu_I li>a{
	display: block;text-align:center; line-height: 40px;
	color: white;font-weight:bold;
	background-color: #00163b;}

.utilWrap .utilmenu_II{float: right;width: 300px;}
.utilWrap .utilmenu_II li{	float:left;}
.utilWrap ul.utilmenu_II li:last-child a{padding-right: 0;}
.utilWrap .utilmenu_II li>a{
	display: block;text-align: center;color:#fff;line-height:40px;
	}

.hdTop{width: 1200px;height: 120px;background-color: white;margin: 0 auto}

/*contents*/
#contents{
	height: 1300px;
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat,no-repeat;
	background-position: center; /*화면에 따라 이미지크기달라짐*/
	background-size: auto,cover; /*높이값이 자동으로 잡힘*/
}
#contents .title{
	width: 1200px;height: 260px;_background-color: gray;
	margin: auto; position: relative;
	
}
#contents .title .titleTxt{position: absolute;float: left;
	top: 80px; font-size: 1.3em; color: white;
	
}
#contents .title .titleIcon{width: 1200px;position: absolute;float: right;
}
#contents .title .titleIcon li>a{float: right;display: block;margin: 0 auto;margin-right: 20px; text-align: center;
font-size: 8px;color: white;padding-top: 80px;/*line-height: 10px;*/}




#contents .container{width: 1200px;margin: auto;}
#contents .container>ul>li{float: left;width: 25%;height: 225px;}

#contents .container>ul>li:nth-child(1){background: #f00;width: 75%;height: 450px;}
#contents .container>ul>li:nth-child(2){background: #ff0;height: 450px;}
#contents .container>ul>li:nth-child(3){background: #fff;}
#contents .container>ul>li:nth-child(4){background: #00f;}
#contents .container>ul>li:nth-child(5){background: #f0f;}
#contents .container>ul>li:nth-child(6){background: skyblue;}
#contents .container>ul>li:nth-child(7){background: orange;}
#contents .container>ul>li:nth-child(8){background: aqua;width: 75%;}





/*footer*/
footer#footer{
	height: 200px;
}