@charset "utf-8";

/*footer*/
footer{margin-top: 50px;}
footer>div.footer{width: 980px;margin:0 auto;}
footer>div.footer>ul{}
footer>div.footer>ul>li{float: left;margin-right: 30px;padding-bottom:15px;}
footer>div.footer>ul>li>a{width: 128px;color:#3f3f3f;}
footer>div.footer>ul>li:hover{font-weight: bold;}
footer>div.footer>p{color:#3f3f3f;font-size:12px;}