@charset "utf-8";
/*reset*/
		*{margin: 0;padding: 0;box-sizing: border-box}
		a:link,a:visited{color: #000;text-decoration: none;}
		li{list-style: none;}
		.clearfix:after{content:"";display: block;clear: both;}  


/*header*/
.hdTop{_background: pink;width: 1200px;height: 135px;margin: 0 auto;}
.hdTop h1{width: 75px;display: block;float: left;
	padding-top: 45px;color: #262a4d;}
.hdTop .hdMenu{float: right;}
.hdTop .hdMenu>li{float: left;padding-left: 30px;color: #262a4d;}
.hdTop .hdMenu>li>a{display: block;text-align: center;padding-top:55px;}

/*slider*/
.slider .view{width: 1445px;margin: 0 auto;position: relative;}
.slider .view .vTxt{position: absolute;
	 top: 225px;width: 580px;margin-left: 125px;
	}
.slider .view .vTxt h2{font-size: 50px;color: #262a4d;}
.slider .view .vTxt a{display: block;width: 290px;height: 80px;
	background-color: #444daa;text-align: center;
	;color: white;font-size: 20px;padding-top:25px; margin-top: 40px;
}
.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
     box-shadow:none; 
     border: 0 none; 
     margin-bottom: 0;
  	 }
  	 .bx-wrapper .bx-pager{bottom:30px;}

.txtBox_I{width: 1200px;height: 285px;margin: 0 auto;}
.txtBox_I h2{text-align: center;font-size: 50px;color: #262a4d;
	padding-top: 120px;}

.boxI{width: 1200px;height: 430px;margin: 0 auto;}
.boxI li{float: left;display: block;text-align: center;
	width: 380px;height: 430px;overflow: hidden;margin-right: 30px;
	border: 0px solid #000;box-shadow: 0 0 15px #ddd;
}
.boxI li:last-child{margin-right: 0;}
.boxI h3{color: #262a4d;padding-top: 15px;font-size: 30px;padding-bottom: 10px;}

.txtBox_II{width: 1200px;height: 350px;margin: 0 auto;_background: pink;}
.txtBox_II>h2{display: block;text-align: center;color: #262a4d;
	font-size: 50px;padding-top:120px;padding-bottom:20px;}
.txtBox_II>p{display: block;text-align: center;color: #262a4d;}


.boxII{width: 1200px;;margin: 0 auto;margin-bottom:90px;}
.boxII>ul>li{height: 460px;float: left;margin-right: 30px;
		border: 0px solid #000;box-shadow: 0 0 15px	#ddd;
		color: #262a4d;}
.boxII>ul>li:last-child{margin-right: 0;}
.boxII>ul>li>a>h3{padding-top: 30px;padding-left: 20px;}
.boxII>ul>li>a>p{padding-left: 20px;line-height: 45px;
	color: #262a4d;}


.boxII>ul>li .text_wrap{padding:30px;}
.boxII .text_wrap h3{margin-bottom:30px;}
.boxII .text_wrap p.txt{margin-bottom: 20px;position: relative;}
.boxII .text_wrap p.txt span{position: absolute;top: 0;right:0;color:red;}
.boxII .text_wrap a{}


.red{color:#f00;padding-left: 190px;font-size: 20px	}


.boxIII{width: 1200px;height: 435px;margin: 0 auto; }
.boxIII>ul>li{float: left;color: #262a4d;}
.boxIII>ul>li:last-child{padding:90px 0 0 90px;}
.boxIII>ul>li>h2{font-size:25px;margin-bottom: 20px;}
.boxIII>ul>li>.boxIII_txt h3{}
.boxIII>ul>li>.boxIII_txt p{}
.boxIII>ul>li>.boxIII_txt{position: relative;padding-left:10px;}
.boxIII>ul>li>.boxIII_txt:after{
	content: "";display: block;width: 5px;
	height: 70px;background-color: #3f4ca8;
	position: absolute;top:0;left:0;}


.boxIV{width: 1200px;height: 435px;margin: 0 auto; margin-top: 145px;
	position: relative;}
.boxIV>ul>li{float: left;color: #262a4d;}
/*.boxIII>ul>li:last-child{margin-right: 0;}*/

.boxIV>ul>li>h2{padding-top:90px;
	font-size:25px;margin-right: 100px;}
.boxIV>ul>li>.boxIV_txt h3{margin-left: 30px;}
.boxIV>ul>li>.boxIV_txt p{margin-left: 30px;}

.boxIV>ul>li>.boxIV_txt{margin-top: 270px;
	content: "";display: block;width: 5px;
	height: 70px;background-color: #3f4ca8;
	position: absolute;top:24px;}

.boxV{width: 1200px;height: 545px;margin: 0 auto;
	margin-top: 145px;/*position: relative;*/}
.boxV>ul>li{color: #262a4d;float: left;}
.boxV>ul>li>.boxV_txt{margin-left: 70px;margin-top:70px;}
.boxV>ul>li>.boxV_txt>h2{font-size: 45px;}
.boxV>ul>li>.boxV_txt>p{margin-top: 70px;}
.boxV>ul>li>.boxV_txt>a{display: block;background: #444daa;
	width: 290px;height: 75px;text-align: center;color: white;
	padding-top: 25px;margin-top: 50px;
}
.txtBox_III{width: 1200px;height: 265px;margin: 0 auto;}
.txtBox_III>h2{text-align: center; font-size: 50px;
	color: #262a4d;padding-top: 110px;}

.boxVI{width: 1200px;margin: 0 auto;_background: pink;}
.boxVI>ul>li{width: 580px;height: 190px;
	float: left;display: block;
	margin-right: 30px;
	border: 0px solid #000;box-shadow: 0 0 15px #ddd;
}
.boxVI>ul>li:last-child{margin-right: 0;}
.boxVI>ul>li>h3,.boxVI>ul>li>p{padding-top: 35px;padding-left: 30px;}

.boxVII{width: 1200px;margin: 0 auto;_background: pink;}
.boxVII>ul>li{width: 580px;height: 190px;
	float: left;display: block;
	margin-right: 30px;margin-top: 30px;margin-bottom: 150px;
	border: 0px solid #000;box-shadow: 0 0 15px #ddd;
}
.boxVII>ul>li:last-child{margin-right: 0;}
.boxVII>ul>li>h3,.boxVII>ul>li>p{padding-top: 35px;padding-left: 30px;}

.footer{width: 1200px;height: 280px;margin: 0 auto;}
.footer>ul>li{float: left;}
.footer>ul>li>h2{width: 965px;}
/*.footer>ul>li>a{display: block;margin-right: 0;}*/