@charset "utf-8";

    .section{height:100%;position: relative;}


	/* 메뉴 */
	div.img{position: relative;}
	.btn_menu{position: fixed;width: 50px;height: 50px;background-color: #fff;box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25);z-index:99;
		top: 25px;right: 25px;border-radius:50%;cursor: pointer;transition:all ease 0.5s;}
	.btn_menu:hover{background-color: #ff9e80;}
	.btn_menu div{transition:0.5s;}
	.btn_menu .bar1{width: 22px;height: 2px;display: block;background-color: #706fff;margin:16px auto 0;}
	.btn_menu .bar2{width: 22px;height: 2px;display: block;background-color: #706fff;margin:6px auto 0;}
	.btn_menu .bar3{width: 22px;height: 2px;display: block;background-color: #706fff;margin:6px auto 0;}
	.change .bar1{transform: translateY(8px)rotate(-45deg);}
	.change .bar2{opacity: 0;}
	.change .bar3{transform: translateY(-8px)rotate(45deg);}
	.btn_menu:hover .bar1{background-color:#fff;}
	.btn_menu:hover .bar2{background-color:#fff;}
	.btn_menu:hover .bar3{background-color:#fff;}

	.hidden_menu{width: 15%;height:100%;position:fixed;background-color:#f0eee8;top: 0;right:-20%;z-index:1;}
	.hidden_menu ul{position: absolute;bottom: 40%;left:15%;}
	.hidden_menu ul li{line-height: 30px;font-size:1.8em;margin-top: 20px;}
	.hidden_menu ul li a{color: #706fff;transition:0.3s;}
	.hidden_menu ul li a:hover{opacity:0.5;}

	/*스크롤*/
	.scroll{position: absolute;bottom: 5%;left: 50%;transform:translateX(-50%);animation:xScroll 0.8s infinite alternate;}
	@keyframes xScroll{
		from{bottom:30px;}
		to{bottom:50px;}
	}

	/*메인페이지*/
	.portfolio{width: 250px;transform:rotateZ(90deg);position: absolute;top:140px;left: -70px;color:rgba(255,255,255,0.5);display: block;}
	.title{width: 250px;transform:rotateZ(90deg);position: absolute;top:140px;left: -70px;color:rgba(10,10,10,0.5);display: block;}
	.main h3{text-align: center;font-size:2.5rem;}
	#page1{background-color:rgb(137,136,255);}
	#page1 div h3{font-size:2.5em;color:#fff;}
	#page1 div h3:first-child{animation-duration:2s;animation-delay:1s;animation-fill-mode: both;}
	#page1 div h3:nth-child(2){animation-duration:3s;animation-delay:2s;animation-fill-mode: both;}
	#page1 div h3:nth-child(3){animation-duration:4s;animation-delay:3s;animation-fill-mode: both;font-family:GmarketSansBold;}

	/*about 페이지*/
	#page2 div.main{width:80%;height:70%;position: absolute;left: 50%;top:50%;transform:translate(-50%,-50%);}
	#page2 div.main .inner{width:100%;margin: auto;height: 100%;}
	#page2 div h3{font-family:GmarketSansBold;color:#363636;text-align: center;width: 100%;height: 100%;}
	#page2 div ul{display:flex;justify-content:center;align-items:center;margin-top: 50px;}
	#page2 div ul li{text-align: center;}
	#page2 div ul li.textLeft{width: 45%;text-align: center;}
	#page2 div ul li.textRight{width: 45%;display:flex;flex-direction: column;padding-left: 50px;}
	#page2 div ul .bar{width: 1px;height: 400px;background: #000;}
	#page2 .main .inner ul .textLeft h4{font-size: 2rem; line-height:1.5;font-family:GmarketSansBold; }
	#page2 .main .inner ul .textRight .list_item{font-size: 1.3rem; line-height: 2.2;text-align: left;}
	#page2 .main .inner ul .textRight .list_item::before {display: inline-block; width: 5px; height: 5px; margin-bottom: 4px; margin-right: 8px; vertical-align: middle; background-color: #141414; content: "";}
	#page2 .main .inner ul .textRight .btn_line{width:200px;margin:1.5rem 0  0 0px;padding:12px 20px;color:#8988ff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;z-index:1;transition:0.4s;font-family:GmarketSansMedium;}
	#page2 .main .inner ul .textRight .btn_line .btn_text{color:#8988ff;}
	#page2 .main .inner ul .textRight .btn_line:hover{text-decoration:none;color:#fff;background-color: #8988ff;}
	#page2 .main .inner ul .textRight .btn_line:hover .btn_text{color:#fff;}
	#page2 .main .inner ul .textRight .btn_line:after{position: absolute;left: 0;}

	/*skills 페이지*/
	#page3 div.main{width:80%;;position: absolute;left: 50%;top:50%;transform:translate(-50%,-50%);height:70%;}
	#page3 div.main .inner{width: 100%;;margin: auto;height: 100%;}
	#page3 div ul{display:flex;justify-content:center;align-items:center;height: 100%;}
	#page3 div ul li{text-align: center;}
	#page3 div ul li.textLeft{width:50%;text-align: center;}
	#page3 div ul li.textLeft h4{}
	#page3 div ul li.textRight{width:50%;display:flex;flex-direction:column;}
	#page3 div ul li.textRight p{text-align: left;line-height: 40px;font-size:1.1rem;margin-top: 20px;}
	#page3 div ul li.textRight p img{width: 25px;height: 25px;vertical-align:middle;}
	#page3 div ul li.textRight p span{font-family:GmarketSansMedium;padding-left:10px;font-weight:700;font-size:1.2rem;}
	#page3 .main .inner ul .textLeft h4{font-size:2.5rem; line-height:1.5;font-family:GmarketSansBold;padding-left:100px;}

	/*project01*/
	#page4{background-image: url("../image/project01_bgc.jpg");position: relative;background-position:center;background-size: cover;background-repeat:no-repeat;}
	#page4 h1.title{color:#fff;}
	#page4 div.sec_wrap{max-width:80%;height: 70%;margin:auto;display:flex;flex-direction: row-reverse;justify-content:center;}
	#page4 div.sec_wrap>div{width:47%;}
	#page4 div.main{display:flex;flex-direction: column;justify-content:center;}
	#page4.active div.main{animation-name:fadeInLeft;animation-duration:1s;animation-fill-mode: both;}
	#page4 div.main p{color:#fff;margin-top: 30px;font-size:1.3rem;text-shadow:2px 2px 5px #7fa3b3;}
	#page4 div.main p span{font-family:GmarketSansMedium;font-size:1.3rem;}
	#page4 div.img{position: relative;}
	#page4.active div.img{animation-name:fadeInRight;animation-duration:1s;animation-fill-mode: both;animation-delay:1s;}
	#page4 img.iMac{width:100%;position: absolute;opacity: 70;top: 50%;left: 50%;transform: translate(-50%,-50%);}
	#page4 img.iPad{width: 200px;height: 250px;bottom:25%;right: 10%;position: absolute;opacity: 70;}
	#page4 div.main h3{text-align: left;font-size:2rem;font-family:GmarketSansBold;color:#fff;text-shadow:2px 2px 5px #7fa3b3;}
	#page4 div.main h3 span{color:#d70101;font-size:2rem;}
	#page4 div.main .btn_link{width: 300px;display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#fff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;font-family:GmarketSansMedium;text-align: center;background-color: #8988ff;transition:0.3s;box-shadow:-1px 1px 10px #7fa3b3;opacity:80%;margin-top: 50px;}
	#page4 div.main .btn_link:hover{box-shadow:-7px 7px 10px #7fa3b3;opacity:100;}

	/*project02*/
	#page5{background-image: url("../image/project02_bgc.jpg");position: relative;background-position:center;background-size: cover;background-repeat:no-repeat;}
	#page5 h1.title{color:#fff;}
	#page5 div.sec_wrap{max-width:80%;height: 70%;margin:auto;display:flex;flex-direction: row-reverse;justify-content:center;}
	#page5 div.sec_wrap>div{width:47%;}
	#page5 div.main{display:flex;flex-direction: column;justify-content:center;}
	#page5.active div.main{animation-name:fadeInLeft;animation-duration:1s;animation-fill-mode: both;}
	#page5 div.main p{color:#fff;margin-top: 30px;font-size:1.3rem;text-shadow:2px 2px 5px #7fa3b3;}
	#page5 div.main p span{font-family:GmarketSansMedium;font-size:1.3rem;}
	#page5 div.img{position: relative;}
	#page5.active div.img{animation-name:fadeInRight;animation-duration:1s;animation-fill-mode: both;animation-delay:1s;}
	#page5 img.iMac{width:100%;position: absolute;opacity: 70;top: 50%;left: 50%;transform: translate(-50%,-50%);}
	#page5 img.iPad{width: 250px;height: 200px;bottom:25%;right: 10%;position: absolute;opacity: 70;}
	#page5 div.main h3{text-align: left;font-family:GmarketSansBold;color:#fff;text-shadow:2px 2px 5px #7fa3b3;font-size:2rem;}
	#page5 div.main h3 span{color:#2c9045;font-size:2rem;}
	#page5 div.main .btn_link{width: 300px;display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#fff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;font-family:GmarketSansMedium;text-align: center;background-color: #8988ff;transition:0.3s;box-shadow:-1px 1px 10px #7fa3b3;opacity:80%;margin-top: 50px;}
	#page5 div.main .btn_link:hover{box-shadow:-7px 7px 10px #7fa3b3;opacity:100;}

	/*project03*/
	#page6{background-image: url("../image/project03_bgc.jpg");position: relative;background-position:center;background-size: cover;background-repeat:no-repeat;}
	#page6 h1.title{color:#fff;}
	#page6 div.sec_wrap{max-width:80%;height: 70%;margin:auto;display:flex;flex-direction: row-reverse;justify-content:center;}
	#page6 div.sec_wrap>div{width:47%;}
	#page6 div.main{display:flex;flex-direction: column;justify-content:center;}
	#page6.active div.main{animation-name:fadeInLeft;animation-duration:1s;animation-fill-mode: both;}
	#page6 div.main p{color:#fff;margin-top: 30px;font-size:1.3rem;text-shadow:2px 2px 5px #7fa3b3;}
	#page6 div.main p span{font-family:GmarketSansMedium;font-size:1.4rem;}
	#page6 div.img{position: relative;}
	#page6.active div.img{animation-name:fadeInRight;animation-duration:1s;animation-fill-mode: both;animation-delay:1s;}
	#page6 img.iMac{width:100%;position: absolute;opacity: 70;top: 50%;left: 50%;transform: translate(-50%,-50%);}
	#page6 img.iPad{width: 150px;height: 200px;bottom:25%;right: 10%;position: absolute;opacity: 70;}
	#page6 div.main h3{text-align: left;font-size:2rem;font-family:GmarketSansBold;color:#fff;text-shadow:2px 2px 5px #7fa3b3;}
	#page6 div.main h3 span{color:#7049b9;font-size:2rem;}
	#page6 div.main .btn_link{width: 300px;display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#fff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;font-family:GmarketSansMedium;text-align: center;background-color: #8988ff;transition:0.3s;box-shadow:-1px 1px 10px #7fa3b3;opacity:80%;margin-top: 50px;}
	#page6 div.main .btn_link:hover{box-shadow:-7px 7px 10px #7fa3b3;opacity:100;}
	
	/*contact*/
	#page7 div.main{width:70%;margin:auto;display:flex;flex-direction:column;}
	#page7 div.main .text_top h3{font-size:2.5em;font-family:GmarketSansBold;text-align:left;color:#484848;}
	#page7 div.main .text_top h3 span{color:#706fff;}
	#page7 div.main .text_top p{text-align:left;font-size:1.1em;margin-top: 30px;font-family:GmarketSansMedium;color:#484848;}
	#page7 div.main .text_bottom{margin-top: 230px;display:flex;flex-direction:column;align-items:flex-end;}
	#page7 div.main .text_bottom div.line{width: 500px;height: 3px;background-color:#747474;display: block;right:0;position: absolute;}
	#page7 div.main .text_bottom p.comment{text-align: right;font-family:GmarketSansBold;font-size:2rem;color:#484848;width:50%;border-top:3px solid #747474;line-height:70px;}
	#page7 div.main .text_bottom a{float:right;display: block;margin-right:30px;}
	#page7 div.main .text_bottom a>p{text-align: center;line-height: 30px;font-family:GmarketSansMedium;color:#484848;}
	#page7 div.main .text_bottom .kakaotalk{width: 70px;height: 60px;}
	#page7 div.main .text_bottom .mail{width: 70px;height: 60px;}
	#page7 div.main .text_bottom .github{width: 60px;height: 60px;}
	#page7 div.main .text_bottom a>p>img{transition: 0.3s;opacity:0.6;}
	#page7 div.main .text_bottom a>p>img:hover{transform:scale(1.2);opacity:1;}