@charset "utf-8";

    .section{height: 930px;position: relative;}


	/* 메뉴 */
	.btn_menu{position: fixed;width: 50px;height: 50px;background-color: #fff;box-shadow:0px 0px 15px 0px rgba(0,0,0,0.25);z-index:99;
		top: 25px;right: 25px;border-radius:50%;cursor: pointer;transition:all ease 0.5s;}
	.btn_menu:hover{background-color: #ff9e80;}
	.btn_menu div{transition:0.5s;}
	.btn_menu .bar1{width: 22px;height: 2px;display: block;background-color: #706fff;margin:16px auto 0;}
	.btn_menu .bar2{width: 22px;height: 2px;display: block;background-color: #706fff;margin:6px auto 0;}
	.btn_menu .bar3{width: 22px;height: 2px;display: block;background-color: #706fff;margin:6px auto 0;}
	.change .bar1{transform: translateY(8px)rotate(-45deg);}
	.change .bar2{opacity: 0;}
	.change .bar3{transform: translateY(-8px)rotate(45deg);}
	.btn_menu:hover .bar1{background-color:#fff;}
	.btn_menu:hover .bar2{background-color:#fff;}
	.btn_menu:hover .bar3{background-color:#fff;}

	.hidden_menu{width: 15%;height:100%;position:fixed;background-color:#f0eee8;top: 0;right:-20%;z-index:1;}
	.hidden_menu ul{position: absolute;bottom: 40%;left:15%;}
	.hidden_menu ul li{line-height: 30px;font-size:1.8em;margin-top: 20px;}
	.hidden_menu ul li a{color: #706fff;transition:0.3s;}
	.hidden_menu ul li a:hover{opacity:0.5;}

	/*스크롤*/
	.scroll{position: absolute;bottom: 5%;left: 50%;transform:translateX(-50%);animation:xScroll 0.8s infinite alternate;}
	@keyframes xScroll{
		from{bottom:30px;}
		to{bottom:50px;}
	}

	/*메인페이지*/
	.portfolio{width: 250px;transform:rotateZ(90deg);position: absolute;top:140px;left: -70px;color:rgba(255,255,255,0.5);display: block;}
	.title{width: 250px;transform:rotateZ(90deg);position: absolute;top:140px;left: -70px;color:rgba(10,10,10,0.5);display: block;}
	.main{width:100%;position: absolute;left: 50%;bottom: 40%;transform:translateX(-50%);}
	.main h3{text-align: center;}
	#page1{background-color:rgb(137,136,255);}
	#page1 div h3{font-size:2.5em;color:#fff;}
	#page1 div h3:first-child{animation-duration:2s;animation-delay:1s;animation-fill-mode: both;}
	#page1 div h3:nth-child(2){animation-duration:3s;animation-delay:2s;animation-fill-mode: both;}
	#page1 div h3:nth-child(3){animation-duration:4s;animation-delay:3s;animation-fill-mode: both;font-family:GmarketSansBold;}

	/*about 페이지*/
	#page2 div.main{width: 1200px;position: absolute;left: 50%;bottom: 25%;transform:translateX(-50%);}
	#page2 div.main .inner{width:100%;margin: auto;}
	#page2 div ul h3{font-size:2.5em;font-family:GmarketSansBold;color:#363636;text-align: center;}
	#page2 div ul li{float: left;text-align: center;margin-top: 100px;}
	#page2 div ul li.textLeft{width: 49%;padding-top: 130px;text-align: center;}
	#page2 div ul li.textRight{width: 49%;padding-top: 60px;position: relative;}
	#page2 div ul .bar{width: 1px;height: 400px;background: #000;}
	#page2 .main .inner ul .textLeft h4{font-size: 2.0rem; line-height: 2.0;font-family:GmarketSansBold;padding-left:100px;}
	#page2 .main .inner ul .textRight .list_item{font-size: 1.3rem; line-height: 2.2;text-align: left;padding-left: 30px;}
	#page2 .main .inner ul .textRight .list_item::before {display: inline-block; width: 5px; height: 5px; margin-bottom: 4px; margin-right: 8px; vertical-align: middle; background-color: #141414; content: "";}
	#page2 .main .inner ul .textRight .btn_line{display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#8988ff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;z-index:1;transition:0.4s;position: absolute;left:5%;font-family:GmarketSansMedium;}
	#page2 .main .inner ul .textRight .btn_line .btn_text{color:#8988ff;}
	#page2 .main .inner ul .textRight .btn_line:hover{text-decoration:none;color:#fff;background-color: #8988ff;}
	#page2 .main .inner ul .textRight .btn_line:hover .btn_text{color:#fff;}
	#page2 .main .inner ul .textRight .btn_line:after{position: absolute;left: 0;}

	/*skills 페이지*/
	#page3 div.main{width: 1200px;position: absolute;left: 50%;bottom: 30%;transform:translateX(-50%);}
	#page3 div.main .inner{width: 1200px;margin: auto;}
	#page3 div ul li{float: left;text-align: center;}
	#page3 div ul li.textLeft{width: 599px;text-align: center;}
	#page3 div ul li.textLeft h4{padding:150px 50px 0 0;}
	#page3 div ul li.textRight{width: 599px;position: relative;}
	#page3 div ul li.textRight p{text-align: left;line-height: 40px;}
	#page3 div ul li.textRight p img{width: 20px;height: 20px;vertical-align:middle;}
	#page3 div ul li.textRight p span{font-family:GmarketSansMedium;padding-left: 5px;}
	#page3 .main .inner ul .textLeft h4{font-size: 2.0rem; line-height: 2.0;font-family:GmarketSansBold;padding-left:100px;}

	/*project01*/
	#page4{background-image: url("../image/project01_bgc.jpg");position: relative;}
	#page4 h1.title{color:#fff;}
	#page4 div.main{left: 20%;top: 15%;animation-duration:1s;animation-delay:1s;animation-fill-mode:both;}
	#page4 div.main p{color:#fff;margin-top: 30px;font-size:1.2rem;text-shadow:2px 2px 5px #7fa3b3;}
	#page4 div.main p span{font-family:GmarketSansMedium;font-size:1.4rem;}
	#page4 img.iMac{width: 800px;height: 800px;bottom:10%;right: 10%;position: absolute;animation-duration:1s;animation-delay:38s;animation-fill-mode:both;opacity: 70;}
	#page4 img.iPad{width: 200px;height: 300px;bottom:25%;right: 15%;position: absolute;animation-duration:1s;animation-delay:37s;animation-fill-mode:both;opacity: 70;}
	#page4 video{width: 556px;height: 277px;position: absolute;right: 10%;z-index:2;top:30%;box-shadow:-7px 5px 10px #7fa3b3;animation-name:video;animation-duration:1s;animation-fill-mode: both;animation-delay: 37s;}
	@keyframes video{
		0%{opacity:100;}
		50%{opacity:50;}
		100%{opacity:0;}
	}
	#page4 div.main h3{text-align: left;font-size:1.8rem;font-family:GmarketSansBold;color:#fff;text-shadow:2px 2px 5px #7fa3b3;}
	#page4 div.main h3 span{color:#d70101;font-size:2.0rem;}
	#page4 div.main .btn_link{width: 300px;display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#fff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;position: absolute;left:0%;font-family:GmarketSansMedium;text-align: center;background-color: #8988ff;transition:0.3s;box-shadow:-1px 1px 10px #7fa3b3;opacity:80%;}
	#page4 div.main .btn_link:hover{box-shadow:-7px 7px 10px #7fa3b3;opacity:100;}

	/*project02*/
	#page5{background-image: url("../image/project02_bgc.jpg");position: relative;}
	#page5 h1.title{color:#fff;}
	#page5 div.main{left:55%;top: 15%;animation-duration:1s;animation-delay:1s;animation-fill-mode:both;}
	#page5 div.main p{color:#fff;margin-top: 30px;font-size:1.2rem;text-shadow:2px 2px 5px #879591;}
	#page5 div.main p span{font-family:GmarketSansMedium;font-size:1.4rem;}
	#page5 img.iMac{width: 800px;height: 800px;bottom:10%;left: 10%;position: absolute;animation-duration:1s;animation-delay:21s;animation-fill-mode:both;}
	#page5 img.iPad{width: 300px;height: 200px;bottom:25%;left: 32%;position: absolute;animation-duration:1s;animation-delay:22s;animation-fill-mode:both;}
	#page5 div.main h3{text-align: left;font-size:1.8rem;font-family:GmarketSansBold;color:#fff;text-shadow:2px 2px 5px #879591;}
	#page5 div.main h3 span{color:#e86a00;font-size:2.0rem;}
	#page5 div.main .btn_link{width: 300px;display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#fff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;position: absolute;left:0%;font-family:GmarketSansMedium;text-align: center;background-color: #8988ff;transition:0.3s;box-shadow:-1px 1px 10px #84938c;opacity:80%;}
	#page5 div.main .btn_link:hover{box-shadow:-7px 7px 10px #84938c;opacity:100;}
	#page5 video{width: 556px;height: 277px;position: absolute;left: 10%;z-index:2;top:30%;box-shadow:-7px 5px 10px #879591;animation-name:video2;animation-duration:1s;animation-fill-mode: both;animation-delay:19.8s;}
	@keyframes video2{
		0%{opacity:100;}
		50%{opacity:50;}
		100%{opacity:0;}
	}

	/*project03*/
	#page6{background-image: url("../image/project03_bgc.jpg");position: relative;}
	#page6 h1.title{color:#fff;}
	#page6 div.main{left: 20%;top: 15%;animation-duration:1s;animation-delay:1s;animation-fill-mode:both;}
	#page6 div.main p{color:#fff;margin-top: 30px;font-size:1.2rem;text-shadow:2px 2px 5px #7fa3b3;}
	#page6 div.main p span{font-family:GmarketSansMedium;font-size:1.4rem;}
	#page6 img.iMac{width: 800px;height: 800px;bottom:10%;right: 10%;position: absolute;animation-duration:1s;animation-delay:21s;animation-fill-mode:both;opacity: 70;}
	#page6 img.iPad{width: 200px;height: 300px;bottom:25%;right: 15%;position: absolute;animation-duration:1s;animation-delay:22s;animation-fill-mode:both;opacity: 70;}
	#page6 video{width: 556px;height: 277px;position: absolute;right: 10%;z-index:2;top:30%;box-shadow:-7px 5px 10px #7fa3b3;animation-name:video3;animation-duration:1s;animation-fill-mode: both;animation-delay:20s;}
	@keyframes video3{
		0%{opacity:100;}
		50%{opacity:50;}
		100%{opacity:0;}
	}
	#page6 div.main h3{text-align: left;font-size:1.8rem;font-family:GmarketSansBold;color:#fff;text-shadow:2px 2px 5px #7fa3b3;}
	#page6 div.main h3 span{color:#7049b9;font-size:2.0rem;}
	#page6 div.main .btn_link{width: 300px;display:inline-block;margin:1.5rem 0  0 0px;padding:12px 20px;color:#fff;border-radius:4px;border:solid 1px #8988ff;cursor:pointer;position: absolute;left:0%;font-family:GmarketSansMedium;text-align: center;background-color: #8988ff;transition:0.3s;box-shadow:-1px 1px 10px #7fa3b3;opacity:80%;}
	#page6 div.main .btn_link:hover{box-shadow:-7px 7px 10px #7fa3b3;opacity:100;}

	/*contact*/
	#page7 div.main{width: 1200px;top: 15%;}
	#page7 div.main .text_top h3{font-size:2.5em;font-family:GmarketSansBold;text-align:left;color:#484848;}
	#page7 div.main .text_top h3 span{color:#706fff;}
	#page7 div.main .text_top p{text-align:left;font-size:1.3em;margin-top: 30px;font-family:GmarketSansMedium;color:#484848;}
	#page7 div.main .text_bottom{margin-top: 250px;}
	#page7 div.main .text_bottom div.line{width: 500px;height: 3px;background-color:#747474;display: block;right:0;position: absolute;}
	#page7 div.main .text_bottom p.comment{text-align: right;font-family:GmarketSansBold;font-size:1.5em;color:#484848;}
	#page7 div.main .text_bottom a{float:right;display: block;margin-right:30px;}
	#page7 div.main .text_bottom a>p{text-align: center;margin-top:20px;line-height: 30px;font-family:GmarketSansMedium;color:#484848;}
	#page7 div.main .text_bottom .kakaotalk{width: 70px;height: 60px;}
	#page7 div.main .text_bottom .mail{width: 70px;height: 60px;}
	#page7 div.main .text_bottom .github{width: 60px;height: 60px;}
	#page7 div.main .text_bottom a>p>img{transition: 0.3s;opacity:0.6;}
	#page7 div.main .text_bottom a>p>img:hover{transform:scale(1.2);opacity:1;}